* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', serif;
    background-color: #f9d1eb;
    color: #333;
    line-height: 1.6;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: grey;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#munich {
    justify-content: center;
    align-items: center;
    margin-left: 265px;
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #FF78D4;
}

header p {
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #EAC45B;
}

.content p {
    font-size: 1rem;
    margin-bottom: 10px;
}
#hername {
    color: #8CAA72;
}
.image {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.image p {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1.1rem;
    color: #777;
}

header::before, header::after, .image::before, .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
}


header::after {
    top: 60px;
    right: 60px;
    background-image: url('images/veronika-burian.png'); /* Replace with Veronika Burian's image */
}

.image::before {
    top: 60px;
    left: 60px;
    background-image: url('images/veronika-burian.png'); /* Replace with Veronika Burian's image */
}

